body {
    background-color: #6b5b95;
}

hr {
    border-top: 3px solid #ff7b25;
    width: 50%;
}

.header {
    background-color: #ff7b25;
    color: white;
    padding: 2%;
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 72px;
}

#buttonCol {
    padding-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.buttons {
    padding: 1%;
    background-color: #6b5b95;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    margin-left: 8px;
    border-color: #feb236;
    border-width: 2px;
    font-size: 16px;
}

#searchCol {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1%;
}

#addButton {
    margin-left: 1%;
}

.buttons:hover {
    background-color: #feb236;
    color: #6b5b95;
}

.button:active {
    background-color: #999999
}

h1 {
    margin: auto;
    color: #ff7b25;
}
/* colors: 
#6b5b95 = purple
#feb236 = yellow
#d64161 = pink
#ff7b25 = orange